[submodule ".vim/pack/my-plugins/start/nerdtree"]
	path = .vim/pack/my-plugins/start/nerdtree
	url = git@github.com:preservim/nerdtree.git
[submodule ".vim/pack/my-plugins/start/vim-c-cpp-modern"]
	path = .vim/pack/my-plugins/start/vim-c-cpp-modern
	url = https://github.com/bfrg/vim-c-cpp-modern
